@{
    ViewBag.Title = "Home";
}

<div class="homeImage">
    @if (HttpContext.Current.User.Identity.IsAuthenticated)
    {
        <img src="~/Images/lookup.png" align="middle" alt="Home" class="home-page" />
    }
    else
    {
        <img src="~/Images/home.png" align="middle" alt="Home" class="home-page" />
    }
</div>