@{
    ViewBag.Title = "Home";
}

<!DOCTYPE html>
<html>

<body>
    
        <div >              
                <img src="~/Images/home.png" align="middle" alt="Home" class="home-page"/>           
        </div>
   
</body>
</html>