<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="FacebookAppID" value="1550228411724730" />
    <add xdt:Locator="Match(key)" xdt:Transform="Replace" key="FacebookSecret" value="a464e449c416363063fa6ee7e6733780" />
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
  </system.web>
</configuration>