@using Microsoft.AspNet.Identity

@{ 
    ViewBag.Title = "Referrals";
}

<h1>Send Referrals</h1>

<div class="row">
    <button id="facebookInvite" class="btn btn-primary col-xs-offset-2 col-xs-2" type="button">Facebook</button>
    <button id="googleInvite" class="btn btn-primary col-xs-offset-1 col-xs-2" type="button">Google+</button>
    <button id="twitterInvite" class="btn btn-primary col-xs-offset-1 col-xs-2" type="button">Twitter</button>
</div>

@section Scripts
{
    <script type="text/javascript">
        var facebookAppID = "@System.Web.Configuration.WebConfigurationManager.AppSettings["FacebookAppID"]";
        var userID = "@User.Identity.GetUserId()";
    </script>

    @Scripts.Render("~/Scripts/facebook.js")
    @Scripts.Render("~/Scripts/Referrals/index.js")
}