@{
    ViewBag.Title = "Register to Vote";

}

<h2>Register to Vote</h2>

<p>It looks like you aren't yet registered to vote.</p>
<a href="https://vote.gov/files/federal-voter-registration_1-25-16_english.pdf" target="_blank">Register Now</a>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}